@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    background: #141216;
    width: 100vw;
    height: 80vh;
}

#raffle-logo {
    max-width: 420px;
    display: block;
    margin: 45px auto;
}

section {
    border: 2px solid #d60000;
    border-radius: 10px;
    color: #ffff;
    background: #1a181d;
    width: 60%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 5px;
    margin: 0 auto;
    gap: 4px;
}

h2 {
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: 700;
}

.inputs {
    display: flex;
    flex-direction: row;
}

input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    background: transparent;
    outline: none;border: none;
    border-bottom: 1px solid #d60000;
    font-size: 28px;
    color: #fff;
    padding-left: 5px;
    text-align: center;
}

.input-min {
    margin-right: 10px;
    
}

label {
    font-size: 21px;
}

.draw-button {
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 10px;
    background: #cc0000;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    margin: 20px 0;
}

.draw-button:hover {
    opacity: 0.8;
    transition: 400ms ease-in-out;
}

.draw-button:active {
    opacity: 0.5;
}

p {
    font-size: 24px;
}

.result {
    font-size: 48px;
    font-weight: bolder;
}

@media screen and (max-width: 840px){

    #raffle-logo {
        max-width: 50%;
        margin: 120px auto;
    }

    section {
        width: 60%;
    }
}

@media screen and (max-width: 700px){
    #raffle-logo {
        max-width: 70%;
        margin: 70px auto;
    }

    h2 {
        font-size: 24px;
    }

    section {
        width: 80%;
    }

    label {
        font-size: 18px;
    }

    input {
        font-size: 21px;
    }

    .draw-button {
        font-size: 22px;
        height: 50px;
        width: 120px;
    }

}